* {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    height: 4000px;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#box{
    transform: translateX(-550px);
    background: #000;
}
#box1{
    transform: translateX(550px);
    background: #000;
}
#box2{
    transform: translateX(-550px);
    background: #000;
}
#box3{
    transform: translateX(550px);
    background: #000;
}
#box4{
    transform: translateX(-550px);
    background: #000;
}
#car{
    /* transform: translateX(-200px) */
}